<h2><%= @restaurant.name%></h2>
<p><strong>Address:</strong> <%=@restaurant.address%></p>
<p><strong>Phone number:</strong> <%=@restaurant.phone_number%></p>
<p><strong>Category:</strong> <%=@restaurant.category.capitalize%></p>

<%= link_to('Add a review', create_review_path)%>

<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <p><%= "Rating: #{review.rating}" %></p>
      <p> <%= "Content: #{review.content}" %></p>
    </li>
  <% end %>
</ul>
